/* ============== Variables ============== */

/* ============== Colors ============== */

$primary: #080808;
$secondary: #1dafe6;

$tone1: #135ea8;

$site-content-bg: #161616;

/* ============== Fontsizes ============== */

$header-huge: 150px;
$header-big: 75px;
$header-standard: 45px;
$header-small: 30px;

$text-huge: 28px;
$text-big: 22px;
$text-standard: 16px;
$text-small: 11px;
$text-tiny: 7px;

/* ============== Woocommerce ============== */
$wooprimary: #fff;
$woosecondary: #ebebeb;

$wootext: #000000;

$wooheader-huge: 150px;
$wooheader-big: 75px;
$wooheader-standard: 45px;
$wooheader-small: 30px;

$wootext-huge: 28px;
$wootext-big: 22px;
$wootext-standard: 16px;
$wootext-small: 11px;
$wootext-tiny: 7px;

/* ============== Extras ============== */

$navwidth: 6%;
